# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

# Mac OS X
.DS_Store
._*

# Composer
/composer.phar
/vendor

# NPM
themes/node_modules/

# Compiled files
/themes/japo20/css/
!/themes/jap20/css/.gitkeep
